rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs/{id} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if request.auth != null && request.auth.token.admin == true;
    }
    match /seekers/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    match /applications/{id} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
